PORT=5000
MONGO_URI=mongodb+srv://ramshamm306_db_user:IZrt1EPfFsadE6Ve@applyflowcluster.plevbhn.mongodb.net/zeeshanPortfolio?retryWrites=true&w=majority
CLIENT_ORIGINS=http://localhost:5173,https://zeeshan-uiux.vercel.app
 
ADMIN_KEY=5454
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=portfolio
